@using KidShop.Models;
@model IList<tbl_CategoryVideo>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="pagetitle">
            <h2>Danh Sách phân loại video</h2>
        </div>

        <p>
            <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="CategoryVideo" asp-action="Create">
                <i class="bi bi-file-earmark-text me-1"></i>Thêm danh sách
            </a>
        </p>
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th style="width:50px;">
                                        <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                            <input type="checkbox" class="custom-control-input" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>STT</th>
                                    <th>Tên phân loại</th>
                                    <th>Mô tả</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text center">
                                            <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                                <input type="checkbox" class="custom-control-input" id="customCheckBox_@item.Category_VideoID">
                                                <label class="custom-control-label" for="customCheckBox_@item.Category_VideoID"></label>
                                            </div>
                                        </td>
                                        <td class="text center"><strong>@count</strong></td>

                                        <td>@item.Title</td>
                                        <td>@item.Describe</td>
                                        <td>
                                            <div class="d-flex">
                                                <a asp-area="Admin" asp-controller="CategoryVideo" asp-action="Edit"
                                                   asp-route-id="@item.Category_VideoID"
                                                   class="btn btn-primary shadow btn-xs sharp mr-1">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a asp-area="Admin" asp-controller="CategoryVideo" asp-action="Delete"
                                                   asp-route-id="@item.Category_VideoID"
                                                   class="btn btn-danger shadow btn-xs sharp">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

